{% extends 'base.html' %}
{% load static %}

{% block titulo %} Mis Tareapps - Tareas de {{ request.user }} {% endblock %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-3">
                <a href="{% url 'lista_tareas' %}" class="text-decoration-none"><svg xmlns="http://www.w3.org/2000/svg"
                        width="30" height="30" fill="blue" class="bi bi-arrow-left m-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg> Volver al Listado de Tareas</a>
                <div class="text-center text-bold">
                    <h3 class="mb-4">Creación de Tareas </h3>
                    <form class="mb-4" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input class="btn btn-primary" type="submit" value="Crear">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<p>
    <label class="form-label ms-3 me-3" for="id_titulo">Titulo:</label>
    <input class="form-control ms-3 me-3" type="text" name="titulo" maxlength="100" required id="id_titulo"
        placeholder="Agrega un título a tu tarea">
</p>
<p>
    <label class="form-label ms-3 me-3" for="id_descripcion">Descripcion:</label>
    <textarea class="form-control ms-3 me-3" name="descripcion" cols="40" rows="10" required id="id_descripcion"
        placeholder="Agrega una descripción a tu tarea"></textarea>
</p>
<p>
    <label for="id_estado">Estado:</label>
    <select name="estado" id="id_estado">
        {% for estado in Tarea %}
        <option value="{{ Tarea.estado }}" selected>{{ Tarea.estado }}</option>
        {% endfor %}
    </select>
</p>
<p>
    <label class="form-label ms-3 me-3" for="id_fecha_vencimiento">Fecha vencimiento:</label>
    <input type="date" name="fecha_vencimiento" required id="id_fecha_vencimiento">
</p>
<p>
    <label class="form-label ms-3 me-3" for="id_etiqueta">Etiqueta:</label>
    <select class="form-select" aria-label="Default select example" id="etiqueta" name="etiqueta">
        {% for etiqueta in etiquetas %}
        <option value="{{ etiqueta.id }}">{{ etiqueta.nombre }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Crear Tarea">
</p>
</form>


{% endblock %}