{% extends 'base.html' %}
{% load static %}

{% block titulo %} Mis Tareapps - Tareas {% endblock %}

{% block contenido %}
<h1 class="tipoLetra text-warning text-center my-3"> <span class="tipoLetra text-white">¡¡¡
    {{user.first_name }} {{ user.last_name }}, Bienvenido a </span><div style="font-family: 'Alfa Slab One', cursive; margin-bottom: 40px;"><span class="text-white mb-3">Mis </span>
        <span>Tareapps!!!</span></div>
</h1>
    <!--FORMULARIO Y TARJETAS-->
    <div class="container mt-2 mb-4">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card bg- bg-transparent border-0">
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle me-3" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                      </svg>Agregar Tarea
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="card-body">
                                        <h5 class="card-title">FORMULARIO PARA LLENAR TARJETAS HOLA</h5>
                                        <p class="card-text">FORMULARIO PARA LLENAR TARJETA IMPLEMENTADO EN FUTUROS AVANCES DEL PROYECTO, PUES EN ESTE CASO NO ES SOLICITADO</p>
                                    </div>
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-0 rounded-3" style="background: rgb(57, 178, 235);">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-9 d-flex align-items-center">
                                <!-- Contenido de la primera columna -->
                                <h4 class="fw-bold">Título de la Primer Tarea</h4>
                            </div>
                            <div class="col-sm-3 text-end">
                                <!-- Contenido de la segunda columna -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Editar Nota"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg></button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="¿Borrar nota?"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white"
                                        class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path
                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path
                                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                    </svg></button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12 text-end">
                                <label class="btn btn-success btn-sm">etiqueta 1</label>
                                <label class="btn btn-success btn-sm">etiqueta 2</label>
                                <label class="btn btn-success btn-sm">etiqueta 3</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-body border border-secondary bg-white rounded-3 m-3">
                                    descripción de la tarea
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div>
                                    <label class="fw-bold">FECHA DE EXPIRACIÓN: </label> <span>18/06/2023 </span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row text-center">
                            <div>
                                <label class="fw-bold">ESTADO: </label>
                            </div>
                            <div class="col-sm-4">
                                <input type="radio" id="opcion1" name="estado" value="opcion1">
                                <label for="opcion1">Pendiente</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="radio" id="opcion2" name="estado" value="opcion2">
                                <label for="opcion2">En progreso</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="radio" id="opcion3" name="estado" value="opcion3">
                                <label for="opcion3">Completada</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FORMULARIO Y TARJETAS-->  
{% endblock %}